* {
    font-family: "Allerta Stencil", Sans-serif, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    background: #202b38;
    color: #f2f2f2;
}

/* ============ Header ============ */
.header {
    padding: 20px;
    text-align: center;
    background: #f2f2f2;
    color: #202b38;
}

.header h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.disc {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    margin: 0 7px;
    border-radius: 50%;
    background: #202b38;
    color: #f2f2f2;
    animation: spin 10s linear infinite;
}

input.w3-input {
    background: #f2f2f2;
}

input.w3-input:focus {
    /*box-shadow: 0 2px 5px 0 rgba(32, 43, 56, 1);*/
    outline: none
}

.floating-result {
    position: fixed;
    top: 150px;
    z-index: 3;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 200px; /* Ajoutez une hauteur maximale si nécessaire */
    overflow-y: auto; /* Ajoutez un défilement vertical si nécessaire */
    display: none; /* Masquer initialement la div flottante */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* ============ Header ============ */

/* ============ Navbar ============ */
.topnav {
    z-index: 2;
    overflow: hidden;
    position: sticky;
    top: 0;
    padding: 0 10vw;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #1A2738;
}

.topnav a {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover, .topnav a.active {
    color: #3498db;
}
/* ============ Navbar ============ */

/* ========== Preloader ========== */
.preloader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.preloader-container h1 {
    font-size: 25px;
    color: #3498db;
}

.preloader {
    width: 200px;
    height: 3px;
    background-color: #f2f2f2;
    position: relative;
    border-radius: 12px;
}

.preloader::after {
    content: "";
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #3498db;
    animation: fill 1.5s linear infinite;
}

@keyframes fill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
/* ========== Preloader ========== */

/* ========== Content ========== */
.content {
    padding: 0 10vw;
    min-height: 62vh;
    margin-bottom: 80px;
}

p a.btn {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p a.btn i {
    margin-right: 7px;
    font-size: 15px;
}

h5, h5 span {
    box-sizing: border-box;
    width: 100%;
}

h1.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.title a.back {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablink i.material-icons {
    margin-right: 7px;
}

div.w3-row a {
    cursor: pointer;
}

td ul {
    list-style: none;
}
/* ========== Content ========== */

/* ========== Infos ========== */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #f2f2f2;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.contain {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.contain::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #f2f2f2;
    background-color: #202b38;
    border: 4px solid #3498db;
    border: 4px solid #f2f2f2;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #f2f2f2;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f2f2f2;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #f2f2f2;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f2f2f2 transparent transparent;
}

.right::after {
    left: -16px;
}

.cont {
    padding: 20px 30px;
    background-color: #f2f2f2;
    color: #202b38;
    position: relative;
    border-radius: 6px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont p span.members, dd span {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.created {
    display: flex;
    flex-direction: column;
}

dl span, .created span {
    display: flex;
    align-items: center;
}

dt, .created span {
    margin-bottom: 5px;
}

dd {
    margin-bottom: 3px;
}

dt {
    margin-top: 7px;
}
/* ========== Infos ========== */

/* ========== Search ========== */
/* ========== Search ========== */

/* ========== Footer ========== */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    background-color: #1A2738;
    width: 100vw;
    padding: 24px 10vw;
    margin: 12px 0 0 0;
    z-index: 2;
    position: fixed;
    bottom: 0;
}

.footer span {
    font-size: 15px;
    color: #3498db;
}
/* ========== Footer ========== */

/* ========== Fonts ========== */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
   /* src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');*/
    src: url(../fonts/material.woff2) format('woff2');
}

@font-face {
    font-family: 'Allerta Stencil';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/alberta.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
/* ========== Fonts ========== */

/* ========== Responsive design ========== */
@media only screen and (max-width: 1400px) {
    h5.truncate {
        white-space: nowrap;
        max-width: 170px;
        overflow: hidden;
        text-overflow: "...";
    }
}

@media screen and (max-width: 768px) {
    .timeline::after {
        left: 31px;
    }

    .contain {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .contain::before {
        left: 60px;
        border: medium solid #f2f2f2;
        border-width: 10px 10px 10px 0;
        border-color: transparent #f2f2f2 transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0;
    }

    .header h1 {
        font-size: 25px;
        transition: .5s ease-in-out;
        flex-direction: column;
    }

    .topnav {
        position: initial;
    }

    .footer {
        position: initial;
    }

    .content {
        margin-bottom: 0;
    }

    .floating-result {
        top: 165px;
    }
}
/* ========== Responsive design ========== */