{{ template "base" . }}

{{ define "content" }}
    <div class="content w3-allerta">
        <h1>
            <span>{{ index .Error.Code }}</span>
        </h1>
        <p>
            <span>{{ index .Error.Message }}</span>
        </p>
    </div>
{{ end }}