{{ template "base" . }}

{{define "content"}}
    <div class="content search">
        <div class="input-search">
            <input type="search" name="search" id="search">
        </div>
    </div>
{{end}}